{% extends "dataviz/base.html" %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Bienvenue sur la plateforme de visualisation de données</h1>
    </div>
{% endblock %}
