{% extends "dataviz/base.html" %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Tableau de bord</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="{% url 'exportation' %}">Exporter en CSV</a>
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          Semaine en cours
        </button>
      </div>
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    <h2>Données brutes</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            {% for title in label %}
              <th>{{title}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for number in data %}
            <td>{{number}}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}

{% block scriptjs %}
<script>show_chart({{ label|safe }}, {{ data }});</script>
{% endblock %}